/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ebbbbb;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

header h1 {
    color: #2c3e50;
}

.main-content {
    display: flex;
    flex: 1;
    gap: 10px;
}

.panel {
    padding: 15px;
    background-color: rgb(190, 194, 190);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.left-panel {
    
    flex: 0 1 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.center-panel {
    flex: 5;
    display: flex;
    flex-direction: column;
    min-width: 800px;
}

.right-panel {
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    color: #0c233a;
}

.input-group {
    display: flex;
    gap: 5px;
        
}

.input-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #a32a2a;
    border-radius: 4px;
    background-color: #c0d2e2; /* Color claro */
    color: #05004e; /* Color del texto */
    font-size: medium;

}

button {
    padding: 8px 12px;
    background-color: #346685;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size:medium;
    width: 100%;
    align-self: center;        
}

button:hover {
    background-color: #c0392b;
}

.btn-special {
    padding: 8px 12px;
    background-color: #4a3d97;
    color: rgb(218, 193, 193);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 75%;
    align-self: center;
}

.btn-special:hover {
    background-color: #2b5a22;
}

.btn-salir {
    background-color: rgb(92, 52, 75); 
    width: 75%; 
}


#arbol-container {
    flex: 1;
    border: 1px solid #d6c1c1;
    border-radius: 4px;
    min-height: 500px;
    position: relative;
}

#mensajes {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
    min-height: 50px;
}

.resultados-area, .estadisticas-area {
    padding: 10px;
    background-color: hsl(152, 44%, 83%);
    border-radius: 4px;
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
}

.estadisticas-area p {
    margin: 5px 0;
}

/* Estilos para los nodos del árbol en SVG */
.nodo {
    fill: #667eea;
    stroke: #5a6fd8;
    stroke-width: 2;
    cursor: pointer;
}

.linea {
    stroke: #666;
    stroke-width: 2;
}